.wp-core-ui {
    .l-loader.button-group{
        padding-top: 20px;
    }
    .button.icon-button{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        span.l-loader-icon{
            width: 20px;
            height: 20px;
            padding-right:3px;
        }
    }
    .button-danger {
        color: #d11616;
        border-color: #a50c0c;
        background: #f3f5f6;
        box-shadow: 0 1px 0 #a50c0c;
        vertical-align: top;

        &:focus,
        &:hover {
            background: #e62828;
            border-color: #610404;
            color: #ffffff;
        }

        &:active {
            background: #bd1111;
            border-color: #8a0808;
            box-shadow: inset 0 2px 5px -3px rgba(165, 12, 12, 0.502);
            transform: translateY(1px);
        }

        &[disabled],
        &:disabled,
        &.disabled {
            color: #ffb1b1 !important;
            border-color: #882a2a !important;
            background: #e27575 !important;
            box-shadow: none !important;
            text-shadow: none !important;
            cursor: default;
            transform: none !important;
        }
    }
    .button-success {
        color: #16d164;
        border-color: #0ca519;
        background: #f3f5f6;
        box-shadow: 0 1px 0 #0ca519;
        vertical-align: top;

        &:focus,
        &:hover {
            background: #0ca519;
            border-color: #16d164;
            color: #ffffff;
        }

        &:active {
            background: #0ca519;
            border-color: #0ca519;
            box-shadow: inset 0 2px 5px -3px #0ca51980;
            transform: translateY(1px);
        }

        &[disabled],
        &:disabled,
        &.disabled {
            color: #70b375 !important;
            border-color: #34d342 !important;
            background: #8ed494 !important;
            box-shadow: none !important;
            text-shadow: none !important;
            cursor: default;
            transform: none !important;
        }
}
}